@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --black: #070301;
  --white: #FFF;
  --blue: #4665d7;
  --blueHard: #1c257b;
  --white-gray: #e0e1f3;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
.main .main-container {
  max-width: 100%;
  margin: 0 auto;
}

.page-right-2 {
  width: 100px;
  position: relative;
  background: rgba(224, 225, 243, 0.3764705882);
}
.page-right-2 .page-right-contant {
  position: absolute;
  right: -189px;
  margin: 0;
  padding: 0;
  z-index: 2;
  padding: 0 10px;
  background: #f5f6fc;
  height: 100vh;
  padding-top: 20px;
  overflow: hidden;
  width: 240px;
  transition: ease 0.3s;
}
.page-right-2 .page-right-contant:hover {
  right: 0;
  box-shadow: -5px 10px 5px 5px rgba(70, 101, 215, 0.137254902);
  width: 220px;
}
.page-right-2 .page-right-contant li {
  cursor: pointer;
  background: #f5f6fc;
  padding: 20px 10px;
  width: 220px;
  list-style: none;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
}
.page-right-2 .page-right-contant li a {
  text-decoration: none;
  color: var(--blueHard);
}
.page-right-2 .page-right-contant li a span {
  margin-right: 5px;
}
.page-right-2 .page-right-contant {
  position: absolute;
  right: -208px;
  margin: 0;
  padding: 0;
  z-index: 2;
  padding: 0 10px;
  background: #f5f6fc;
  height: 100vh;
  padding-top: 20px;
  overflow: hidden;
  width: 240px;
  transition: ease 0.3s;
}
.page-right-2 .page-right-contant:hover {
  right: 0;
  box-shadow: -5px 10px 5px 5px rgba(70, 101, 215, 0.137254902);
  width: 220px;
}
.page-right-2 .page-right-contant li {
  cursor: pointer;
  background: #f5f6fc;
  padding: 20px 10px;
  width: 220px;
  list-style: none;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
}
.page-right-2 .page-right-contant li a {
  text-decoration: none;
  color: var(--blueHard);
}
.page-right-2 .page-right-contant li a span {
  margin-right: 5px;
}

.SitePanel {
  display: none;
}

.media-navbar {
  display: none;
  padding: 0 20px;
}

.katalog {
  display: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(224, 225, 243, 0.3764705882);
  padding: 10px 0;
  z-index: 3;
}
#header .header-wrap .header-logo a {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: normal;
  color: #4665d7;
  display: block;
  text-decoration: none;
}
#header .header-wrap .header-logo a span {
  color: red;
}
#header .header-wrap .header-location {
  margin: 0 20px;
}
#header .header-wrap .header-location a {
  display: block;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: normal;
  color: var(--blueHard);
  text-decoration: none;
}
#header .header-wrap .header-location a span {
  display: block;
}
#header .header-wrap .header-location a span svg path {
  fill: var(--blueHard);
}
#header .header-wrap .SiteHeaderMain-search {
  margin: 0;
  padding: 0;
}
#header .header-wrap .SiteHeaderMain-search .search {
  background-color: var(--white);
  overflow: hidden;
  border: 1px solid #e0e1f3;
  border-radius: 20px;
  height: 45px;
  padding: 0;
  padding-left: 10px;
}
#header .header-wrap .SiteHeaderMain-search .search input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
}
#header .header-wrap .SiteHeaderMain-search .search input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: url(../img/cancel.svg);
  cursor: pointer;
}
#header .header-wrap .SiteHeaderMain-search .search:hover {
  box-shadow: 0 5px 5px 2px #e0e1f3;
}
#header .header-wrap .SiteHeaderMain-search .search:hover .loopa svg path {
  fill: #cbcbcb;
}
#header .header-wrap .SiteHeaderMain-search .search:hover .voice svg path {
  fill: #cbcbcb;
}
#header .header-wrap .SiteHeaderMain-search .search:hover input::-moz-placeholder {
  color: var(--blue);
}
#header .header-wrap .SiteHeaderMain-search .search:hover input::placeholder {
  color: var(--blue);
}
#header .header-wrap .SiteHeaderMain-search .HintsToSearch p {
  padding: 0;
  margin: 0;
}
#header .header-wrap .SiteHeaderMain-search .HintsToSearch ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#header .header-wrap .SiteHeaderMain-search .HintsToSearch ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
#header .header-wrap .SiteHeaderMain-search .HintsToSearch ul li a {
  text-decoration: none;
  border-bottom: 2px dashed #4665d7;
}
#header .header-wrap .SiteHeaderMain-search .HintsToSearch ul li:last-child {
  margin: 0;
}
#header .header-wrap .SiteHeaderMain-search .search-btn {
  cursor: pointer;
  height: 100%;
}
#header .header-wrap .SiteHeaderMain-search .search-btn button {
  background: #4665d7;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  flex: 0 0 auto;
  font: inherit;
  height: 100%;
  margin: 0 -1px 0 0;
  padding: 0 0.25rem 1px 0;
  width: 96px;
  border: none;
  height: 100%;
  border-radius: 0px 20px 20px 0;
}
#header .header-wrap .SiteHeaderMain-search .search-btn button span:last-child {
  display: none;
}
#header .header-wrap .header-right {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#header .header-wrap .scan svg path {
  fill: var(--blueHard);
}
#header .header-wrap .carzino {
  margin-left: 20px;
  height: 100%;
}
#header .header-wrap .carzino svg path {
  stroke: var(--blueHard);
}
#header .header-wrap .carzino span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: normal;
  color: var(--blueHard);
}

#product {
  margin-top: 90px;
}
#product .body-wrapper {
  display: flex;
  align-items: flex-start;
}
#product .body-wrapper .body-sidebar .sidebar {
  width: 250px;
  margin-left: env(safe-area-inset-left);
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCatalog-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCatalog-tabs button {
  height: 50px;
  width: 50%;
  padding: 0 10px;
  background: local;
  border: transparent;
  border-bottom: 4px solid #4665d7;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCatalog-tabs button:last-child {
  border-bottom: transparent;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList li {
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList li:hover {
  background: rgba(224, 225, 243, 0.3294117647);
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList li a:hover::after {
  color: var(--blue);
}
#product .body-wrapper .body-sidebar .sidebar .sidebar-inner .SidebarCatalog .SidebarCategoriesList li a:after {
  color: #e0e1f3;
  content: "❯";
  flex: 0 0 auto;
  font: 400 15px/15px Verdana;
  margin: 0 0 0 auto;
  text-align: center;
  transition: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
#product .body-wrapper .body-content {
  padding: 10px;
  width: 100%;
}
#product .body-wrapper .body-content .Breadcrumbs {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#product .body-wrapper .body-content .Breadcrumbs li {
  list-style: none;
}
#product .body-wrapper .body-content .Breadcrumbs li a {
  text-decoration: none;
  font-size: 14px;
}
#product .body-wrapper .body-content .Breadcrumbs li:first-child a {
  font-weight: 600;
}
#product .body-wrapper .body-content .Breadcrumbs li:nth-child(5) a {
  font-weight: 300;
  font-size: 16px;
}
#product .body-wrapper .body-content .Breadcrumbs li:last-child a {
  color: var(--black);
}
#product .body-wrapper .body-content .Breadcrumbs span {
  margin: 0 2px;
  color: var(--blue);
}
#product .body-wrapper .body-content .ViewProductPage-title .name {
  color: var(--blue);
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: normal;
}
#product .body-wrapper .body-content span {
  display: block;
  margin: 0 10px;
  color: var(--black);
}
#product .body-wrapper .body-content .viewProductPage-actions .favouriteButton a {
  display: block;
  margin-left: 5px;
  color: #cbcbcb;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}
#product .body-wrapper .body-content .viewProductPage-actions .favouriteButton a:hover {
  color: var(--blue);
}
#product .body-wrapper .body-content .viewProductPage-actions .sharingButton-button a {
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
#product .body-wrapper .body-content .viewProductPage-actions .compare-button a {
  margin-left: 5px;
  text-decoration: none;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper {
  max-width: 1305px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants {
  margin-right: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .ViewProductPage__vendor {
  margin-bottom: 10px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .ViewProductPage__vendor a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: normal;
  text-decoration: none;
  color: var(--blue);
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .ProductVariants__level-heading h5 {
  font-weight: 600;
  font-size: 16px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .variantButton__link {
  border: 4px solid #4665d7;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .variantButton__link .variantButton__link-img {
  width: 50px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .variantButton__link .variantButton__link-img img {
  width: 100%;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .variantButton__link .product-text p {
  font-size: 14px;
  font-weight: 600;
  color: #717171;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .variantButton__link .product-text .product-rank p {
  font-weight: 500;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .ViewProductPage__indications-heading {
  color: #1c257b;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .discraption p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer {
  border: 1px solid #e0e1f3;
  border-radius: 5px;
  padding: 20px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .ProductOffer__unavailable b {
  font-size: 16px;
  font-weight: 600;
  color: #717171;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .ProductOffer__unavailable p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .ProductOffer__unavailable h2 {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  font-weight: 700;
  color: #717171;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .ProductOffer__unavailable h2 span {
  color: #717171;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .PurchaseButton button {
  width: 228px;
  border: none;
  height: 40px;
  background: rgba(70, 101, 215, 0.137254902);
  font-weight: 600;
  color: var(--blue);
  margin-top: 20px;
}
#product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .PurchaseButton button:hover {
  border-radius: 4px;
  background: var(--blue);
  color: var(--white);
}
#product .body-wrapper .body-content .ScrollspyContents__topics {
  padding: 0;
  margin: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #cbcbcb;
}
#product .body-wrapper .body-content .ScrollspyContents__topics li {
  list-style: none;
  margin-left: 20px;
}
#product .body-wrapper .body-content .ScrollspyContents__topics li a {
  font-style: normal;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  filter: contrast(10%);
}
#product .body-wrapper .body-content .ScrollspyContents__topics li a:hover {
  filter: contrast(100%);
}
#product .body-wrapper .body-content .ScrollspyContents__topics li:first-child {
  margin: 0;
}
#product .body-wrapper .body-content .ScrollspyContents__topics li:first-child a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 2px solid #4665d7;
  filter: contrast(100%);
  padding-bottom: 7px;
}
#product .body-wrapper .body-content .ProductAnalogous h2 {
  color: var(--blue);
  font-weight: 600;
  font-size: 25px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames {
  padding: 0;
  margin: 0;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li {
  list-style: none;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card {
  width: 250px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-img {
  width: 150px;
  margin: 20px auto 0 auto;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-img img {
  width: 100%;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .swiper-pagination {
  display: flex;
  justify-content: center;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about {
  padding: 10px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about a {
  text-decoration: none;
  color: var(--blueHard);
  font-size: 14px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about a h3 {
  font-size: 16px;
  color: var(--blue);
  margin-top: 10px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .card-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .card-price .card-price__label {
  margin-right: 5px;
  color: var(--black);
  font-size: 14px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .card-price .card-price__nodisc {
  text-decoration-line: line-through;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .card-price .discobadge {
  margin-left: 5px;
  border: 1px solid rgba(255, 0, 0, 0.493);
  padding: 0 5px;
  border-radius: 100px;
  color: red;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .card-price__summary {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .light-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card .card-about .light-button button {
  color: #4665d7;
  border: 1px solid transparent;
  padding: 7px 50px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card:hover {
  border: 1px solid #4665d7;
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card:hover .light-button button {
  background: var(--blue);
  color: var(--white);
}
#product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card:hover .light-button button span svg path {
  stroke: var(--white);
}
#product .body-wrapper .body-content .ProductDescription-content {
  max-width: 700px;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cbcbcb;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section h2 {
  font-size: 25px;
  font-weight: 600;
  color: var(--blue);
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList {
  margin-top: 20px;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList h3 {
  color: #1c257b;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList div {
  display: flex;
  align-items: center;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList div dt {
  font-weight: 400;
  color: #717171;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList div dt span {
  color: var(--black);
  margin: 0;
  padding: 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList div dd {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 5px;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList div dd a {
  font-size: 14px;
  margin-left: 5px;
  text-decoration: none;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList ul {
  padding: 0;
  margin: 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section .ProductDescription-content-wrap .ProductDescription-content .ProdDescList ul li {
  list-style: none;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info {
  padding-top: 20px;
  border-top: 1px solid #cbcbcb;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info h2 {
  font-size: 20px;
  font-weight: 600;
  color: #4665d7;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers {
  padding: 0 10px;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers b {
  font-size: 24px;
  color: var(--blueHard);
  font-weight: 600;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers b small {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers p {
  font-size: 14px;
  color: var(--blueHard);
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers-2 b {
  color: green;
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers-2 b small {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}
#product .body-wrapper .body-content .ProductDescription-content .ProductBottomInfo__section-info .ItemReviews__numbers-2 p {
  color: green;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__buttonAuth {
  padding: 10px;
  background: rgba(70, 101, 215, 0.1647058824);
  color: var(--blue);
  margin: 20px 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul {
  margin: 0;
  padding: 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li {
  margin-bottom: 30px;
  list-style: none;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li:last-child {
  margin: 0;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem-head b {
  font-size: 18px;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem-head time {
  font-size: 14px;
  filter: contrast(50%);
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem-body {
  margin-top: 5px;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem-body p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__good {
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: green;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__answerBlock {
  margin: 10px 0;
  padding: 20px;
  background: rgba(70, 101, 215, 0.137254902);
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__answerBlock .ReviewItem__answerTop .ReviewItem__answerName {
  margin-right: 10px;
  font-weight: 600;
  color: var(--blueHard);
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__answerBlock .ReviewItem__answerTop time {
  font-size: 14px;
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__answerBlock .ReviewItem__answerIsRepresentative {
  font-size: 14px;
  font-weight: 500;
  color: rgba(70, 101, 215, 0.7607843137);
}
#product .body-wrapper .body-content .ProductDescription-content .ItemReviews__reviews ul li .ReviewItem .ReviewItem__answerBlock .ReviewItem__answerText {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
#product .body-wrapper .body-content .more-btn {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  border: transparent;
  background: local;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}
#product .body-wrapper .body-content .more-btn:hover {
  background-color: rgba(70, 101, 215, 0.1647058824);
}
#product .body-wrapper .body-content .ProductDescription-sidebar .ScrollspyContents {
  padding: 0;
  margin: 0;
  padding: 0 10px;
  border: none;
  background-color: rgba(70, 101, 215, 0.062745098);
  border-radius: 10px;
  width: 250px;
}
#product .body-wrapper .body-content .ProductDescription-sidebar .ScrollspyContents li {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(70, 101, 215, 0.137254902);
}
#product .body-wrapper .body-content .ProductDescription-sidebar .ScrollspyContents li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
#product .body-wrapper .body-content .ProductDescription-sidebar .ScrollspyContents li a:hover {
  font-weight: 700;
  color: var(--blue);
}
#product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet {
  width: 70px;
  height: 70px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../img/product-corausel-img-1.webp) no-repeat;
  background-size: cover;
  opacity: 1;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
}
#product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet:nth-child(2) {
  background: url(../img/product-corausel-img-2.webp) no-repeat;
  background-size: cover;
}
#product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet:nth-child(3) {
  background: url(../img/product-corausel-img-3.webp) no-repeat;
  background-size: cover;
}
#product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet:nth-child(4) {
  background: url(../img/product-corausel-img-4.webp) no-repeat;
  background-size: cover;
}
#product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet:nth-child(5) {
  background: url(../img/product-corausel-img-5.webp) no-repeat;
  background-size: cover;
}
#product .mySwiper-product .swiper-pagination {
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
#product .mySwiper .swiper-pagination-clickable .swiper-pagination-bullet {
  background: #1c257b;
}
#product .product-corausel {
  width: 520px;
}
#product .product-corausel .swiper-wrapper {
  margin: 0;
  height: 480px;
}
#product .product-corausel-img {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin-left: 77px;
}
#product .product-corausel-img img {
  width: 100%;
}

#footer {
  padding: 50px 0;
  border-top: 1px solid #cbcbcb;
  margin-top: 50px;
}
#footer .footer-wrap {
  display: flex;
  justify-content: space-between;
}
#footer .footer-wrap .footer-style {
  display: flex;
  justify-content: space-between;
}
#footer .footer-wrap .footer-style .footer-series {
  width: 200px;
  margin: 0;
  padding: 0;
}
#footer .footer-wrap .footer-style .footer-series li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 5px;
}
#footer .footer-wrap .footer-style .footer-series li h5 {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.625rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#footer .footer-wrap .footer-style .footer-series li:last-child {
  margin: 0;
}
#footer .footer-wrap .footer-style .footer-series li a {
  text-decoration: none;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#footer .footer-wrap .footer-style .footer-series li a:hover {
  color: #1c257b;
}
#footer .footer-wrap .footer-style .footer-series li span {
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #e0e1f3;
  cursor: pointer;
}
#footer .footer-wrap .footer-style .footer-series li span:nth-child(2) {
  margin: 0 10px;
}
#footer .footer-wrap .footer-right {
  width: 30%;
}
#footer .footer-wrap .footer-right .footer-series {
  width: 150px;
}
#footer .footer-wrap .footer-right .footer-series li a {
  font-weight: 700;
  font-size: 16px;
}
#footer .footer-wrap .footer-left {
  width: 65%;
}

@media (max-width: 1590px) {
  #footer .footer-wrap .footer-left {
    width: 55%;
  }
  #footer .footer-wrap .footer-right {
    width: 40%;
  }
}
@media (max-width: 1550px) {
  #product .product-corausel {
    width: 450px;
  }
  .page-right-2 {
    width: 70px;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants .discraption p {
    -webkit-line-clamp: 2;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer {
    padding: 10px;
  }
  #product .mySwiper-product .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
  }
  #product .product-corausel-img {
    margin-left: 55px;
    margin-right: 0px;
  }
  #product .product-corausel {
    width: 420px;
  }
  #product .body-wrapper {
    padding: 0;
    margin: 0;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer .PurchaseButton button {
    width: 200px;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants {
    margin-right: 5px;
  }
  .page-right-2 {
    width: 45px;
  }
}
@media (max-width: 1300px) {
  .footer-wrap {
    flex-direction: column;
  }
  #footer .footer-wrap .footer-left {
    width: 100%;
  }
  #footer .footer-wrap .footer-right {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 1200px) {
  #product {
    margin-top: 75px;
  }
  #product .product-corausel {
    width: 350px;
  }
  #product .product-corausel-img {
    width: 280px;
  }
  .page-right-2 .page-right-contant {
    right: -190px;
  }
  .body-sidebar {
    display: none;
  }
  .sidebar-inner {
    display: none;
    padding-top: 90px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.493);
    z-index: 2;
  }
  .sidebar-inner .SidebarCatalog {
    background: var(--white);
    max-width: 300px;
  }
  .scan {
    display: none;
  }
  .katalog {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
  }
  .katalog p {
    font-size: 14px;
    color: var(--blueHard);
    margin: 0;
    padding: 0;
  }
  #header .header-wrap .SiteHeaderMain-search .HintsToSearch ul li a {
    font-size: 12px;
    border-bottom: 1px dashed #4665d7;
  }
  #header .header-wrap .SiteHeaderMain-search .HintsToSearch p {
    font-size: 12px;
  }
  #header .header-wrap .SiteHeaderMain-search .search {
    height: 37px;
  }
  #header .header-wrap .SiteHeaderMain-search .search .loopa svg {
    width: 25px;
  }
  #header .header-wrap .SiteHeaderMain-search .search .voice svg {
    width: 25px;
  }
  #header .header-wrap .SiteHeaderMain-search .search #header .header-wrap .SiteHeaderMain-search .search-btn button {
    font-size: 15px;
  }
  #product .product-corausel .swiper-wrapper {
    height: 300px;
  }
}
@media (max-width: 1025px) {
  .SitePanel {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    z-index: 4;
  }
  .SitePanel .page-right {
    display: block;
    width: 100%;
  }
  .SitePanel .page-right .page-right-contant {
    position: relative;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.493);
    margin: 0;
    padding: 0 10px;
    background: #f5f6fc;
    height: 320px;
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    transition: ease 0.3s;
  }
  .SitePanel .page-right .page-right-contant .close-x {
    top: 5px;
    right: 20px;
    position: absolute;
  }
  .SitePanel .page-right .page-right-contant li {
    cursor: pointer;
    background: #f5f6fc;
    padding: 20px 10px;
    width: 192px;
    margin: 0 auto;
    list-style: none;
    height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .SitePanel .page-right .page-right-contant li a {
    text-decoration: none;
    color: var(--blueHard);
  }
  .SitePanel .page-right .page-right-contant li a span {
    margin-right: 5px;
  }
  .loopa {
    display: none;
  }
  #header .header-wrap .SiteHeaderMain-search .search-btn button {
    width: 40px;
  }
  #header .header-wrap .SiteHeaderMain-search .search-btn button span:first-child {
    display: none;
  }
  #header .header-wrap .SiteHeaderMain-search .search-btn button span:last-child {
    display: block;
  }
  #header .header-wrap .SiteHeaderMain-search .search input {
    padding: 0;
  }
  .SitePanel-active {
    display: block;
  }
  .page-right-2 {
    display: none;
  }
  .header-left .header-logo {
    display: none;
  }
  .header-left .header-location {
    display: none;
  }
  .header-left .katalog p {
    display: none;
  }
  .HintsToSearch {
    display: none !important;
  }
  #header .header-wrap .header-right {
    display: none !important;
  }
  .header-wrap {
    align-items: center !important;
  }
  #product .body-wrapper .body-content .ViewProductPage-title .name {
    font-size: 22px;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer {
    margin-top: 20px;
  }
  .ProductDescription-sidebar {
    display: none;
  }
  #product .body-wrapper .body-content .ProductDescription-content {
    max-width: 100%;
  }
  #product #product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames {
    border: 1px solid #cbcbcb;
  }
  #product .body-wrapper .body-content .ProductAnalogous .ScrollBoxGoods__frames li .card {
    border-radius: 0;
    border: none;
    border: 1px solid #cbcbcb;
  }
  .media-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    padding: 5px 20px;
    background-color: var(--white);
    margin-bottom: 5px;
  }
  .media-navbar .header-logo {
    margin-right: 10px;
  }
  .media-navbar .header-logo a {
    font-weight: 700;
    text-decoration: none;
    color: var(--blueHard);
  }
  .media-navbar .header-logo a span {
    color: red;
  }
  .media-navbar .header-location a {
    font-weight: 700;
    text-decoration: none;
    color: var(--blueHard);
  }
  .media-navbar .header-location a span svg path {
    fill: var(--blueHard);
  }
  .media-navbar .header-bar .bars {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    position: relative;
    width: 30px;
    height: 15px;
    z-index: 100;
  }
  .media-navbar .header-bar .bars span {
    position: absolute;
    margin-bottom: 3px;
    width: 25px;
    height: 2px;
    background: var(--blueHard);
    border-radius: 0;
    transition: ease 0.3s;
  }
  .media-navbar .header-bar .bars span:first-child {
    top: 0;
  }
  .media-navbar .header-bar .bars span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .media-navbar .header-bar .bars span:last-child {
    width: 20px;
    margin: 0;
    bottom: 0;
  }
  .media-navbar .header-bar .bars-active span:first-child {
    transform: rotate(45deg);
    top: 7px;
  }
  .media-navbar .header-bar .bars-active span:last-child {
    display: none;
  }
  .media-navbar .header-bar .bars-active span:nth-child(2) {
    transform: rotate(-45deg);
  }
  #header {
    padding-top: 0;
  }
}
@media (max-width: 818px) {
  #product .body-wrapper .body-content .viewProductPage-info-wrapper {
    flex-direction: column;
  }
  .body-sidebar-active {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .viewProductPage-variants {
    order: 3;
  }
  #product .body-wrapper .body-content .viewProductPage-info-wrapper .ProductOffer {
    width: 100%;
  }
  .ViewProductPage__price {
    width: 100%;
  }
  #product .mySwiper-product .swiper-pagination {
    display: none;
  }
  #product .product-corausel-img {
    width: 50%;
    margin: 0;
    margin: 0 auto;
  }
  #product .product-corausel {
    width: 100%;
  }
  #product .product-corausel .swiper-wrapper {
    height: 100%;
  }
  .favouriteButton {
    top: 200px;
    right: 20px;
    position: absolute;
  }
  .favouriteButton svg path {
    fill: #717171;
    stroke: #717171 !important;
  }
  #product .body-wrapper .body-content .viewProductPage-actions .favouriteButton a {
    display: none;
  }
  #product .body-wrapper .body-content span {
    display: none;
  }
  .sharingButton-button {
    position: absolute;
    top: 250px;
    right: 20px;
  }
  .sharingButton-button svg path {
    fill: #717171;
    stroke: #717171;
  }
  #product .body-wrapper .body-content .viewProductPage-actions .sharingButton-button a {
    display: none;
  }
  .compare-button {
    position: absolute;
    top: 300px;
    right: 20px;
  }
  .compare-button svg path {
    fill: #717171;
    stroke: #717171;
  }
  #product .body-wrapper .body-content .viewProductPage-actions .compare-button a {
    display: none;
  }
  #product .body-wrapper .body-content .Breadcrumbs {
    display: none !important;
  }
  #product .body-wrapper {
    padding-top: 10px;
  }
  #product .body-wrapper .body-content .ScrollspyContents__topics {
    display: none !important;
  }
}
@media (max-width: 798px) {
  #footer .footer-wrap .footer-left {
    flex-direction: column;
  }
  #footer .footer-wrap .footer-style .footer-series {
    margin-bottom: 20px;
    width: 100%;
  }
  #footer .footer-wrap .footer-right {
    flex-wrap: wrap;
  }
  #footer .footer-wrap .footer-right .footer-series {
    margin-bottom: 20px;
    width: 150px;
  }
}
@media (max-width: 506px) {
  .main {
    padding: 0 10px;
  }
  .ReviewItem-head {
    flex-wrap: wrap;
  }
  .ReviewItem-head div {
    flex-wrap: wrap;
  }
  .ReviewItem__answerTop {
    flex-wrap: wrap;
  }
  #product .body-wrapper .body-content .more-btn {
    width: 100%;
  }
  .media-navbar {
    padding: 5px 10px;
  }
}
@media (max-width: 450px) {
  #footer .footer-wrap .footer-right {
    margin-bottom: 20px;
  }
  #product .product-corausel-img {
    width: 70%;
  }
  #product .body-wrapper .body-content .ViewProductPage-title .name {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */